<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<a href ="/travels" style = "margin-left: 60%; display: inline-block;">Home</a>
			<a href ="/logout" style = "margin-left: 15%; display: inline-block">Logout</a>
		</div>
		<h2 class = "row">Add a Trip:</h2>
		<div class="row">
			{% if messages %}
			<ul class="messages">    
			{% for message in messages %}    
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
			{% endfor %}
			</ul>
			{% endif %}
			<form class = "col-md-8"action = "/createtrip" method = "post">
				<!-- Add trip form -->
				{% csrf_token %}
				<div class="form-group">
					<label for="destination">Destination:</label>
					<input class="form-control" type="text" name = "destination">
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					<input class="form-control" type="text" name = "description">
				</div>
				<div class="form-group">
					<label for="startDate">Start Date:</label>
					<input type="date" class="form-control" name ="startDate">
				</div>
				<div class="form-group">
					<label for="endDate">End Date:</label>
					<input type="date" class="form-control" name = "endDate" >
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>